<%- include("../partials/header") %>
<br>
<div class="container">
  <strong><h1><%= user.username %></h1></strong>
  <div class="w3-display-container">
    <img src=<%= '/profileimg/'+ user.image %> class="img-fluid img-thumbnail" style="width: 400px; height: 400px;" alt="Avatar">
  </div>
  <div>
    <h3>Name: <%= user.name %></h3>
    <h3>Email: <%= user.email %></h3>
  </div>
  <a class="btn btn-warning" href="/memehub/profile/<%= currentUser._id %>/edit">Edit profile</a>
</div>
<%- include("../partials/footer") %>