<%- include("../partials/header") %>
<br>
<div class="container">
  <div class="w3-third">
    <div class="w3-white w3-text-grey w3-card-4">
      <div class="w3-container w3-text-black w3-row">
        <p style="float: right; margin-top: 20px;"><svg class="bi bi-gear-wide" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"/>
        </svg> Setting</p>
        <h1><%= currentUser.username %></h1>
      </div>   
      <div class="w3-display-container">
        <center><img src="https://avatars0.githubusercontent.com/u/59905925?s=400&u=faa7d65216268e5e35bcb3e4226265ab08471580&v=4" class="img-fluid img-thumbnail" style="width: 400px; height: 400px;" alt="Avatar"></center>
      </div>
      <div>
        <h3>Name: <%= currentUser.name %></h3>
        <h3>Email: <%= currentUser.email %></h3><br>
      </div>
    </div>
  </div>
    <div class="w3-white w3-text-grey w3-card-4">
      <div class="row" style="display:flex; flex-wrap:wrap;">
        <% Meme.forEach(function(meme){ %>
            <a class="btn btn-light col-md-4 col-sm-6" href="/memehub/meme/<%= meme._id %>">
                <div class="img-thumbnail">
                    <p><strong><%= meme.author.username %></strong></p>
                    <img src=<%= "../uploads/" + meme.image %> class="img-fluid" style="margin: auto; width: 200px; height: 200px; object-fit: cover;">
                    <p style="text-align: center;"><%= meme.name %></p>
                </div>
            </a>
        <% }); %>
      </div>
    </div>
</div>
<%- include("../partials/footer") %>