<%- include("partials/header") %>
<div class="container" style="margin:25px auto;">
    <div class="jumbotron" style="text-align: center;">
        <h2>MEME List</h2>
        <a class="btn btn-warning" href="/memehub/meme/add" role="button">Add new Meme!</a>
    </div>
    <div class="row" style="display:flex; flex-wrap:wrap;">
    <% Meme.forEach(function(meme){ %>
        <a class="btn btn-light col-md-3 col-sm-6" href="/memehub/meme/<%= meme._id %>">
            <div class="img-thumbnail">
                <p><strong><%= meme.author.username %></strong></p>
                <img src=<%= "../uploads/" + meme.image %> class="img-fluid" style="margin: auto; width: 250px; height: 250px;">
                <p style="text-align: center;"><%= meme.name %></p>
            </div>
        </a>
    <% }); %>
    </div>
</div>
<%- include("partials/footer") %>