<%- include("../partials/header") %>
<div class = "container">
    <div class = "jumbotron" style="text-align: center;">
        <h2>MEME List</h2>
        <p>This page shows all the Meme</p>
        <a class="btn btn-outline-primary" href="/memehub/meme/add" role="button">Add new Meme!</a>
    </div>

    <div class = "row" style="display:flex; flex-wrap:wrap;">
    <% Meme.forEach(function(meme){ %>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail">
                <img src=<%= meme.image %> class="img-fluid"> 
                <p style="text-align: center;"><%= meme.name %></p>
                <a class="btn btn-outline-primary" href="/memehub/meme/<%= meme._id %>" role="button">More detail...</a>
            </div>
        </div>
    <% }); %>
</div>
</div>

<%- include("../partials/footer") %>
