<%- include("../partials/header") %>
<div class="container col-md-6 jumbotron" style="margin:25px auto;">
    <div>
        <% if(currentUser && meme.author.id.equals(currentUser._id)){ %> 
        <p style="text-align: right;"><a class="btn btn-xs btn-warning" href="/memehub/meme/<%= meme._id %>/edit">Edit</a></p>
        <form id="delete-form" action="/memehub/meme/<%= meme._id %>?_method=DELETE" method="POST" style="text-align: right;">       
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
        </form>
        <% } %>
        <h1><strong><%= meme.author.username %></strong></h1>
        <h3><%= meme.name %></h3>
        <center><img src=<%= meme.image %> class="img-fluid" onclick="document.getElementById('modal01').style.display='block'"></center>
            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom">
                    <center><img src=<%= meme.image %> style="width:50%"></center>
                </div>
            </div>
        <p><%= meme.desc %></p>
        <% if(currentUser) { %>
    </div>
    <form action="/memehub/meme/<%= meme._id %>/comments" method="POST">
        <div class="form-group">
            <label for="commentText">Comment</label>
            <input type="text" class="form-control" name="comment[text]" placeholder="Your comment here" required>
        </div>
        <button class="btn btn-outline-primary" type="submit" style="float: right;">Comment</button>
    </form>
    <div class="container">
        <% } %>
        <% meme.comments.forEach(function(comment){ %>
            <!-- <p><strong><%= comment.author.username %></strong>: <%= comment.text %></p> -->
            <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                <a class="btn btn-xs btn-warning" href='/memehub/meme/<%= meme._id %>/comments/<%= comment._id %>/edit'>Edit</a>
                <form id="delete-form" action="/memehub/meme/<%= meme._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">       
                    <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            <% } %>
        <% }) %>
    </div>
</div>
<%- include("../partials/footer") %>