<%- include("../partials/header") %>
<div class="container col-md-6 jumbotron">
    <h1><strong><%= meme.username %></strong></h1>
    <h1><%= meme.name %></h1>
    <img src=<%= meme.image %> class="img-fluid"> 
    <p><%= meme.desc %></p>
</div>
<%- include("../partials/footer") %>