<%- include("../partials/header") %>
<div class="container col-md-6 jumbotron">
    <h1><strong><%= meme.username %></strong></h1>
    <h3><%= meme.name %></h3>
    <img src=<%= meme.image %> class="img-fluid"> 
    <p><%= meme.desc %></p>
    <% if(currentUser) { %>
    <form action="/memehub/meme/<%= meme._id %>" method="POST">
        <div class="form-group">
            <label for="commentText">Comment</label>
            <input type="text" class="form-control" name="comment" placeholder="Your comment here" required>
        </div>
        <button type="submit" style="float: right;">Comment</button>
    </form>
    <div class="container">
        <% } %>
        <% meme.comments.forEach(function(comment){ %>
            <p><strong><%= comment.username %></strong>: <%= comment.text %></p>
        <% }) %>
    </div>
</div>
<%- include("../partials/footer") %>