<%- include("../partials/header") %>
<div class="container" style="margin:25px auto;">
    <div class="jumbotron" style="text-align: center;">
        <h2>TOP RANKING</h2>
    </div>
    <div class="row" style="display:flex; flex-wrap:wrap;">
    <% Meme.forEach(function(meme){ %>
        <a class="btn btn-light col-md-3 col-sm-6" href="/edumeme/meme/<%= meme._id %>">
            <div class="img-thumbnail">
                <p><strong>Memename: <%= meme.name %></strong></p>
                <img src=<%= "/uploads/" + meme.image %> class="img-fluid" style="margin: auto; width: 250px; height: 250px;">
                <p style="text-align: center;">Like:<%= meme.like_count %></p>
            </div>
        </a>
    <% }); %>
    </div>
</div>
<%- include("../partials/footer") %>